appdirs==1.4.3
beautifulsoup4==4.6.0
certifi==2017.4.17
chardet==3.0.3
click==6.7
Flask==0.12.3
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
lxml==3.7.3
MarkupSafe==1.0
packaging==16.8
PyJWT==1.5.0
pyparsing==2.2.0
PySocks==1.6.7
pytz==2017.2
requests==2.20.0
six==1.10.0
twilio==6.3.0
urllib3==1.21.1
Werkzeug==0.15.3
